# Created by .ignore support plugin (hsz.mobi)
### Terraform template
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log


**/.local/*
!**/.local/.gitempty
!**/.local/.gitkeep

ansible.log
