[Unit]
After=cloud-init.service
Requires=cloud-init.service

Before=kubelet.service
RequiresOf=kubelet.service

[Service]
Type=oneshot
RemainAfterExit=yes
%{ for file in bootstrap_files ~}
ExecStart=/usr/bin/aws s3 cp s3://${bootstrap_s3_bucket}/controller/${file} /${file} --no-progress
%{ endfor ~}
