[Unit]
After=cloud-init.service bootstrap-kubernetes-pki.service
Requires=cloud-init.service bootstrap-kubernetes-pki.service

[Service]
Type=oneshot
RemainAfterExit=yes

admin.conf
kubelet.conf
controller-manager.conf
scheduler.conf
