# https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: "/etc/kubernetes/pki/ca.crt"
authorization:
  mode: Webhook
cgroupDriver: "systemd"
clusterDomain: "cluster.local"
clusterDNS:
  - "{{ kubernetes.pod_cidr_block | regex_replace('[0-9]/[0-9][0-9]?', '53') }}"
featureGates:
  DefaultPodTopologySpread: true
  EphemeralContainers: true
podCIDR: "{{ kubernetes.pod_cidr_block }}"
serializeImagePulls: false
staticPodPath: "/etc/kubernetes/manifests/"
resolvConf: "/run/systemd/resolve/resolv.conf"
runtimeRequestTimeout: "15m"
tlsCertFile: "/etc/kubernetes/pki/kubelet.crt"
tlsPrivateKeyFile: "/etc/kubernetes/pki/kubelet.key"

