[Unit]
After=crio.service
Requires=crio.service

[Service]
ExecStart=
ExecStart=/usr/bin/kubelet \
  --cloud-provider=aws
  --config=/etc/kubernetes/kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/crio/crio.sock \
  --hostname-override={{ ansible_fqdn }} \
  --kubeconfig=/etc/kubernetes/pki/kubelet.kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --v=2

Restart=on-failure
RestartSec=5
